{% schema %}
{
  "name": "Announcement Bar",
  "tag": "div",
  "class": "announcement-bar-new",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "url",
      "id": "announcementbar_url",
      "label": "URL"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Announce Text",
      "settings": [
        {
          "type": "text",
          "id": "announce_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "settings": {
        "background_color": "#EC008C",
        "text_color": "#fff"
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "announce_text": "Free shipping on orders over $50"
          }
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["header"]
  }
}
{% endschema %}

<div>Hello</div>
