{% schema %}
{
  "name": "Announcement Bar",
  "tag": "div",
  "class": "announcement-bar-new",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#EC008C"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "url",
      "id": "announcementbar_url",
      "label": "URL"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Announce Text",
      "settings": [
        {
          "type": "text",
          "id": "announce_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "settings": {
        "background_color": "#EC008C",
        "text_color": "#fff"
      }
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["header"]
  }
}
{% endschema %}

<div id="wrapper">
  <a href="{{section.settings.announcementbar_url }}">
    <div class="overflow-clip py-3" style="background-color: {{ section.settings.background_color }}">
      <div class="flex gap-12 [animation:var(--animate-marquee)] w-max pl-12 hover:[animation-play-state:paused]">
        {% for block in section.blocks %}
          <div class="text-[14px]" style="color: {{ section.settings.text_color }} ">
            {{ block.settings.announce_text }}
          </div>
        {% endfor %}
      </div>
    </div>
  </a>
</div>
