{% schema %}
{
  "name": "Newsletter block",
  "tag": "section",
  "class": "newsletter-block",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Want the chance to trial our new products?"
    },
    {
      "type": "text",
      "id": "section_description",
      "label": "Description",
      "default": "Sign up for the latest news, exclusive offers, and the chance to trial new and unreleased products."
    },
    {
      "type": "text",
      "id": "form_text",
      "label": "Form placeholder",
      "default": "Please enter your email"
    }
  ],
  "presets": [
    {
      "name": "Newsletter block"
    }
  ]
}
{% endschema %}

{% form 'create_customer' %}
  <div class="md:max-w-[1440px] mx-auto">
    <div class="flex flex-col md:flex-row md:justify-between px-10 py-36 md:px-14 md:py-20 bg-[#1C1C1E] text-white gap-6 mt-[64px]">
      <h2 class="!text-white !text-4xl md:max-w-[30%]">{{ section.settings.section_title }}</h2>
      <p class="!font-medium md:max-w-[30%]">{{ section.settings.section_description }}</p>
      <div>
        <input
          type="email"
          name="customer[email]"
          placeholder="{{ section.settings.form_text }}"
          pattern=".+@gmail\.com"
          maxlength="20"
          required
          class="w-[300px] bg-white text-black h-24 p-6 rounded-md"
        >
        <input type="submit" value="">
      </div>
    </div>
    {% comment %} Succes message or error message {% endcomment %}
  </div>
{% endform %}
